body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.fixed-background {
    background-image: url('profile_photo.png'); /* Replace with the correct path */
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: -1; */
}

/* Use a different background image for mobile devices */
@media (max-width: 768px) {
    .fixed-background {
        background-image: url('profile_photo_mobile.png'); /* Replace with the correct path for mobile */
    }
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    z-index: 2;
}

.content {
    max-width: 600px;
    padding: 20px;
}

.content h1 {
    color: #fff;
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content p {
    color: #fff;
    font-size: 25px;
    font-style: italic;
    font-weight: 200;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.additional_info {
    height:200px;
    text-align: center;
}